<h1>@InputDemo</h1>

<app-country></app-country>
<hr/>


<app-my-dropdown 
[label]="'Select Country'"
[placeHolder]="'-:Select Country:-'"
[dataList]="countryLookupList"
(getSelectedData)="setSelectedCountry($event)"
>    
</app-my-dropdown>

Selected Country : {{selectedCountry.name}}
<hr/>

<app-my-dropdown 
[label]="'Select State : '"
[placeHolder]="'-:Select State:-'"
[dataList]="stateLookupList"
(getSelectedData)="setSelectedState($event)"
>    
</app-my-dropdown>

Selected State : {{selectedState.name}}
<hr/>

<input type="text" name="name" [(ngModel)]="name"/>
{{name}}

<button (click)="reverseStr()">Reverse String</button>
<hr/>
<p>Reverse String is : {{revStr}}</p>
<app-menu-item-list>
</app-menu-item-list>

<app-message [msg]="'Hello Radhe Krishna...!'">
</app-message>


<app-message [msg]="message" [messageType]="'info'">
</app-message>


<app-message [msg]="'Sorry Please Try Again..!'" [messageType]="'error'">
</app-message>

<app-message *ngFor="let m of msgList" [msg]="m">
</app-message>