<h1>@InputDemo</h1>

<input type="text" name="name" [(ngModel)]="name"/>
{{name}}

<button (click)="reverseStr()">Reverse String</button>
<hr/>
<p>Reverse String is : {{revStr}}</p>
<app-menu-item-list>
</app-menu-item-list>

<app-message [msg]="'Hello Radhe Krishna...!'">
</app-message>


<app-message [msg]="message" [messageType]="'info'">
</app-message>


<app-message [msg]="'Sorry Please Try Again..!'" [messageType]="'error'">
</app-message>

<app-message *ngFor="let m of msgList" [msg]="m">
</app-message>